html, body {
    margin: 0;
    height: 100%;
}

.circle {
    border-radius: 50%;
    background-color: red;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    user-select: none;
    transition: none 0s ease 0s;
}

.figure-wrapper {
    margin: 50px;
}

.rect {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    user-select: none;
    background-color: green;
}

.layout {
    display: inline-flex;
    height: 100%;
    width: 100%;
}

.figures-bar {
    width: 200px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px black;
    background: blueviolet;
}

.canvas-area {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 100%;
    box-shadow: 0 0 10px black;
}

h1 {
    text-align: center;
}